<div class="calendar">
  <div class="background">
    <div class="bg-white rounded p-3 shadow">
      <h3>Modifier mon traitement</h3>
      <%= simple_form_for [@prescription, @followup], data: { controller: 'flatpickr' } do |f| %>

      <div>
        <%= f.input :title, placeholder: 'Titre', label:"Titre" %>
        <%= f.input :description, placeholder: 'Description', label:"Description"%>
      </div>

      <div>
        <%= f.input :posology, placeholder: 'ex: 400mg', label:"Posologie"%>
        <%= f.input :hourly_frequency, placeholder: 'Combien de fois par jour? ex: 3', label:"Fréquence d'administration"%>
        <%= f.input :day_frequency, placeholder: 'Combien de fois par semaine? ex: 4', label:"Fréquence du traitement (en jours)"%>
      </div>

      <div>
        <%= f.input :start_date, label: "Commence le", as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
        <%= f.input :end_date, label: "Fini le", as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' } %>
      </div>

        <%= f.input :photo_url, as: :file, label:"Joindre une image" %>
        <%= f.submit 'Modifier', class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
</div>
