
<div class="calendar">
  <div class="background">
    <div class="bg-white rounded p-3 shadow">
      <h3>Creer un suivi</h3>
      <%= simple_form_for [@prescription, @followup], data: { controller: 'flatpickr' } do |f| %>

      <div>
        <%= f.input :title, placeholder: 'Titre' %>
        <%= f.input :description, placeholder: 'Description'%>
      </div>

      <div>
        <%= f.input :posology, placeholder: 'ex: 400mg'%>
        <%= f.input :hourly_frequency, placeholder: 'Combien de fois par jour? ex: 3'%>
        <%= f.input :day_frequency, placeholder: 'Combien de fois par semaine? ex: 4'%>
      </div>

      <div>
        <%= f.input :start_date, label: "début", as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
        <%= f.input :end_date, label: "au", as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' } %>
      </div>

        <%= f.input :photo_url, as: :file %>
        <%= f.submit class: 'btn btn-ghost'%>
      <% end %>
    </div>
  </div>
</div>
