<div class = "container">
<h1><%= @followup.title %></h1>
<p><%= @followup.description %></p>
<h4> Debut : <%= @followup.start_date %>, fin : <%= @followup.end_date %></h4>

<p>Posologie : <%= @followup.posology %></p>
<h4>Tous les <%= @followup.hourly_frequency %> jour(s), <%= @followup.day_frequency %> fois/jour</h4>


  <div class = "d-flex">
    <p><%= link_to "Modifier", edit_prescription_follow_up_path(@prescription, @followup),class: "m-2 btn btn-primary" %></p>
    <p><%= link_to "Retour à l'ordonnance", prescription_path(@prescription),class: "m-2 btn btn-primary" %></p>
  </div>
</div>
