<h1>FollowUps#show</h1>
<p>Find me in app/views/follow_ups/show.html.erb</p>

<h1><%= @followup.title %></h1>
<p><%= @followup.description %></p>
<h1> Debut : <%= @followup.start_date %> fin : <%= @followup.end_date %></h1>

<p><%= @followup.posology %></p>
<h1>Tous les <%= @followup.hourly_frequency %> jour(s)</h1>
<h1><%= @followup.day_frequency %> fois/jour</h1>
