<h1>FollowUps#show</h1>
<p>Find me in app/views/follow_ups/show.html.erb</p>

<h1><%= @folloup.title %></h1>
<p><%= @folloup.description %></p>
<h1> Debut : <%= @folloup.start_date %> fin : <%= @folloup.end_date %></h1>

<p><%= @folloup.posology %></p>
<h1>Tous les <%= @folloup.hourly_frequency %> jour(s)</h1>
<h1><%= @folloup.day_frequency %> fois/jour</h1>
