<div class="header">
  <div class= "header-title">
  <% if user_signed_in? %>
    <h1>Modifier votre ordonnance</h1>
    <% end %>
  </div>
</div>
<h1 class="edit-form"></h1>
<div class="container form">
      <%= simple_form_for @prescription, data: { controller: 'flatpickr' } do |f| %>

      <div>
        <%= f.input :title, placeholder: 'Titre', label: "Titre" %>
        <%= f.input :description, placeholder: 'Description'%>
      </div>

        <div>
          <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } }, label: "Commence le" %>
          <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' }, label: "Fini le" %>
        </div>

        <div>
          <%= f.input :practician, placeholder: 'The name of the practician', label: "Praticien"%>
        </div>
        <%= f.submit 'modifier',class: "bouton edit-style" %>

  <% end %>
</div>
