<div class="header">
  <div class= "header-title">
  <% if user_signed_in? %>
    <h1>Mes prescriptions</h1>
    <% end %>
  </div>
</div>
<div class = "container mt-5">
<div class="medical-file bg-transparent d-flex justify-content-between">
  <p><%= link_to '+', new_prescription_path, class: "btn-plus mt-2"%></p>
</div>
  <ul class = "measures" style = "padding-left: 0px">
    <% @prescriptions.each do |prescription| %>
      <% if (Date.today <= prescription.end_date && prescription.start_date <= Date.today) %>
        <%= link_to(prescription_path(prescription)) do %>
          <div class = "measure-title btn-home">
            <p><%= prescription.title %></p>
          </div>
        <% end %>
      <% else %>
        <%# <div>
        <p class = "card-title h2"> Vous n'avez pas de prescription </p>
        </div> %>
      <% end %>
    <% end %>
  </ul>
</div>


<%# <div class = "container">
  <h1 class = "">Vos prescriptions</h1>
  <ul class = "card-product">
    <% @prescriptions.each do |prescription| %>
      <%# <% if (Date.today <= prescription.end_date && prescription.start_date <= Date.today) %>
        <%# <div class = "card-title h2"> %>
        <%# <%= link_to prescription.title, prescription_path(prescription) %>
        <%# </div> %>
        <%# <div class = "card-description" p> %>
        <%# <ul>Description:<%= prescription.description %>
        <%# <ul>Expiration:<%= prescription.end_date %>
        <%# </div> %>
        <%# <% else %>
        <%# <div>
        <p class = "card-title h2"> Vous n'avez pas de prescription </p>
        </div> %>
      <%# <% end %>
    <%# <% end %>
  <%# </ul> %>
    <%# <p><%= link_to 'Créer une prescription', new_prescription_path, class: "btn-bi" %>
<%# </div> %>
