<div class="header">
  <div class= "header-title">
    <% if user_signed_in? %>
      <h1>Créer une Ordonnance</h1>
    <% end %>
  </div>
</div>

<div class="edit-form">
  <div class="container form">
    <div class="bg-white rounded p-3 shadow">
      <%= simple_form_for @prescription, data: { controller: 'flatpickr' } do |f| %>
        <div>
          <%= f.input :title, placeholder: 'Ordonnance Cardio - pré-operation', label: "Titre", class: "black-label"%>
          <%= f.input :description, placeholder: "Mise en place d'un traitement avant l'opération"%>
        </div>

        <div>
          <%= f.input :start_date, label: "Commence le", as: :string, input_html: { data: { flatpickr_target: "startTime" } },value: "Commence le" %>
          <%= f.input :end_date, label: "Fini le", as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' },value: "Fini le" %>
        </div>

        <div>
          <%= f.input :practician, placeholder: 'Dr.HOUSE',label: "Praticien"%>
          <%= f.submit 'Créer', class: "bouton edit-style" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
