
   <div class="edit-form">
    <div class="container form">
    <div class="bg-white rounded p-3 shadow">
     <h3>Creer une Ordonnance</h3>
      <%= simple_form_for @prescription, data: { controller: 'flatpickr' } do |f| %>
          <div>
          <%= f.input :title, placeholder: 'Titre' %>
          <%= f.input :description, placeholder: 'Description'%>
          </div>

          <div>
          <%= f.input :start_date, label: "début", as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
          <%= f.input :end_date, label: "au", as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' } %>
         </div>

          <div>
          <%= f.input :practician, placeholder: 'Le nom du Practicien'%>
          <%= f.submit 'Creer',class: 'btn btn-primary' %>
          </div>

      <% end %>
    </div>
  </div>
</div>
