<div class="header">
  <div class= "header-title">
  <% if user_signed_in? %>
    <h1>Ordonnance</h1>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="my-2 ">
    <div class = "d-flex justify-content-between">
      <h1 class =""><strong><%= @prescription.title %></strong> </h1>
      <%= link_to(edit_prescription_path(@prescription)) do %>
        <p class= "mt-1">✏️</p>
      <% end %>
    </div>

    <div class="measures__values-2 row">
      <h4><%= @prescription.practician %></h4>
      <p><%= @prescription.description %></p>
      <p> Debut : <strong><%= @prescription.start_date %></strong> - Fin : <strong><%= @prescription.end_date %></strong></p>
      <p>Rappel de renouvellement : <%= @prescription.end_date-5 %></p>
    </div>
  </div>

  <div class="m-3 d-flex align-items-center justify-content-between">
    <h2 class = "my-1">Mes traitements </h2>
    <p class = "plus"><%= link_to "+", new_prescription_follow_up_path(@prescription) %></p>
  </div>

  <div>
    <ul class = "list-group">
      <% @prescription.follow_ups.each do |f| %>
        <%= link_to(prescription_follow_up_path(@prescription,f)) do %>
          <li class = "m-1 bouton d-flex justify-content-center"><%= f.title %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class = "m-3 d-flex align-items-center justify-content-between">
    <h2 class = "my-1">Mes mesures </h2>
    <p class = "plus"><%= link_to "+", new_prescription_measure_path(@prescription) %></p>
  </div>
  <div>
    <ul class = "list-group">
      <% @prescription.measures.each do |m| %>

<%= link_to(prescription_measure_path(@prescription,m)) do %>
        <li class = "m-1 bouton d-flex justify-content-center"><%=m.title%></li>
<% end %>


      <% end %>
    </ul>
  </div>
</div>
<p class ="mt-3">.</p>
