<div class="container">
<h1> <%= @prescription.title %> </h1>
<h4><%= @prescription.practician %></h4>
<p><%= @prescription.description %></p>
<p> Debut : <%= @prescription.start_date %> - Fin : <%= @prescription.end_date %></p>
<p>Rappel de renouvellement d'ordonnance prévu le : <%= @prescription.end_date-5 %></p>
</div>

 <%= link_to 'Modifier', edit_prescription_path(@prescription) %>
