<div class="container">
  <h1> <%= @prescription.title %> </h1>
  <h4><%= @prescription.practician %></h4>
  <p><%= @prescription.description %></p>
  <p> Debut : <%= @prescription.start_date %> - Fin : <%= @prescription.end_date %></p>
  <p>Rappel de renouvellement : <%= @prescription.end_date-5 %></p>

  <%= link_to 'Modifier mon ordonnance', edit_prescription_path(@prescription), class: "mb-3 bi" %>

  <div class="d-flex align-items-center justify-content-between col-8">
    <h2>Mes traitements</h2>
    <%= link_to new_prescription_follow_up_path(@prescription), class: "plus" do %>
      <i class="fa-solid fa-arrow-right" style="color: #49516F;"></i>
    <% end %>
  </div>

  <div>
    <ul class = "list-group">
      <% @prescription.follow_ups.each do |f| %>
        <li class = "list-group-item"><%= link_to f.title, prescription_follow_up_path(@prescription,f) %></li>
      <% end %>
    </ul>
    <p class = "">
    </p>
  </div>

  <div class = "d-flex align-items-center justify-content-between col-8">
    <h2>Mes mesures</h2>
    <%= link_to new_prescription_measure_path(@prescription), class: "plus" do %>
      <i class="fa-solid fa-arrow-right" style="color: #49516F;"></i>
    <% end %>
  </div>
  <div>
    <ul class = "list-group">
      <% @prescription.measures.each do |m| %>
        <li class = "list-group-item"><%= link_to m.title, prescription_measure_path(@prescription,m) %></li>
      <% end %>
    </ul>
  </div>
</div>
