<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%# if page d'accueil, don't show %>
    <i class="fa-solid fa-chevron-left" style="color: #49516f;"></i>
    <%= link_to "#", class: "navbar-brand" do %>
      <h1 id="navbar-logo">HealthConnect</h1>
    <% end %>

    <%= link_to "/", class: "navbar-bell" do %>
      <i class="fa-regular fa-bell" style="color: #49516f;"></i>
    <%# avoir une notif rouge %>
    <%# <i class="fa-solid fa-circle-exclamation fa-xs" style="color: #fc3b3b;"></i> %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon" style="color: #49516f;"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <div class="dropdown-toggle" aria-labelledby="navbarDropdown" , id="navbarDropdown", data-bs-toggle="dropdown", aria-haspopup="true", aria-expanded="false" >
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
          </div>
        </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>.
