<div class="header">
  <div class= "header-title">
  <% if user_signed_in? %>
    <h1>Mon historique</h1>
    <% end %>
  </div>
</div>
<div class = "container">
  <h1 class = "mt-2"><strong>Mes ordonnances passées</strong></h1>
  <ul class = "list-group">
    <% @prescriptions.each do |prescription| %>
        <% if prescription.end_date < Time.now %>
          <li class = "">
            <p><%= link_to prescription.title, prescription_path(prescription), style:"text-decoration:none", class:"m-1 bouton d-flex justify-content-center" %></p>
            <p class ="ms-3">Terminée le <%= prescription.start_date %></p>
            <p class ="ms-3">Precrit par : <%= prescription.practician %></p>
          </li>
        <% end %>
    <% end %>
  </ul>



  <h1 class = "mt-2"><strong>Mes traitements passés</strong></h1>
    <ul class = "list-group">
      <% @prescriptions.each do |prescription| %>
        <% prescription.follow_ups.each do |followup| %>
          <% if followup.end_date < Time.now %>
            <li class = "">
              <p><%= link_to followup.title, prescription_follow_up_path(prescription, followup), style:"text-decoration:none", class:"m-1 bouton d-flex justify-content-center" %></p>
              <p class ="ms-3">Terminée le <%= followup.start_date %></p>
              <p class ="ms-3">Precrit par : <%= prescription.practician %></p>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>

</div>
