<div class="header">
  <div class= "header-title">
  <% if user_signed_in? %>
    <h1>Bonjour, <%= current_user.first_name%></h1>
    <% end %>
  </div>
</div>
<div class="container">
  <% if user_signed_in? %>
    <div class="medical-file justify-content-center rounded bg-transparent">
      <div class="mb-2 col-12 col-lg-6 rounded">
        <h2 class = "mt-2 my-2"> Mesure du jour 🩺</h2>
          <ul class = "list-group">
            <% @prescriptions.each do |prescription| %>
              <% prescription.measures.each do |measure| %>
                <%= link_to(prescription_measure_path(prescription, measure)) do %>
                  <% if ((Time.now < measure.end_date && measure.start_date < Time.now)) %>
                    <li class = "list-group-item rounded m-1 btn-home d-flex justify-content-center pt-4">
                      <p><%= measure.title %></p>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
      </div>


      <div class="mb-2 col-12 col-lg-6 rounded">
        <h2 class = "mt-2">Traitements du jour 💊</h2>
          <ul class = "list-group">
            <% @prescriptions.each do |prescription| %>
              <% prescription.follow_ups.each do |followup| %>
                <%= link_to(prescription_follow_up_path(prescription, followup)) do %>
                  <% if ((Time.now < followup.end_date && followup.start_date < Time.now)) %>
                    <li class = "list-group-item rounded m-1 btn-home d-flex justify-content-center pt-4">
                      <p> <%= followup.title %></p>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
      </div>
    </div>

  <% else %>
  <div class = "mt-6 container d-flex justify-content-center">
    <%= link_to "Se connecter", new_user_session_path, class: 'mt-5 btn-bi' %>
  </div>
  <% end %>
</div>
