<div class="container">
  <%= month_calendar(events: @prescriptions + @follow_ups + @measures) do |date, events| %>
    <%= date %>

    <% events.each do |event| %>
      <% if event.is_a?(Prescription) %>
        <div class="prescription-calendar">
          <%= event.title %>
        </div>
      <% elsif event.is_a?(FollowUp) %>
        <div class="follow-up-calendar">
          <%= event.title %>
        </div>
      <% elsif event.is_a?(Measure) %>
        <div class="measure-calendar">
          <%= event.title %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <h1> Legende : </h1>

</div>
