<div class="header">
  <div class= "header-title">
  <% if user_signed_in? %>
    <h1>Bonjour, <%= current_user.first_name%></h1>
    <% end %>
  </div>
</div>
 <div class="edit-form">
    <div class="container form">
<h1 class="edit-form">Modifier vos pathologies</h1>
<div class="form">
    <%= simple_form_for @pathologie do |f| %>
      <%= f.input :name, placeholder: 'Nom de votre pathologie', label: "Nom de votre pathologie" %>
      <%= f.input :description, placeholder: 'Description', label: "Description" %>
        <%= f.submit value: "Modifier", class: "bouton edit-style" %>
  <% end %>
</div>
  </div>
</div>
