
 <div class="edit-form">
    <div class="container form">
    <h3>Create a pathologie</h3>
    <%= simple_form_for @pathologie do |f| %>
      <%= f.input :name, placeholder: 'The title of your pathology' %>
      <%= f.input :description, placeholder: 'Give us more information'%>
      <%# <%= f.input :photo_url, as: :file %>
      <%= f.submit class: 'btn btn-ghost'%>
    <% end %>
  </div>
</div>
