<div class="header">
  <div class= "header-title">
  <% if user_signed_in? %>
    <h1>Bonjour, <%= current_user.first_name%></h1>
    <% end %>
  </div>
</div>
 <div class="edit-form">
    <div class="container form">
    <h3>Create a pathologie</h3>
    <%= simple_form_for @pathologie do |f| %>
      <%= f.input :name, placeholder: 'Nom de votre pathologie', label: "Nom de votre pathologie" %>
      <%= f.input :description, placeholder: 'Description', label: "Description"%>
      <%# <%= f.input :photo_url, as: :file %>
      <%= f.submit class: "bouton", value: "Creer"%>
    <% end %>
  </div>
</div>
