<div class="container">
 <div class="calendar-container">
    <%= month_calendar(events: @prescriptions + @follow_ups + @measures + @appointments) do |date, events| %>
      <%= date %>

      <% events.each do |event| %>
        <% if event.is_a?(Prescription) %>
      <%= link_to prescription_path(event) do %>
          <div class="prescription-calendar">
            <%# <%= event.title %>
            <%# <% @prescription = Prescription %>
            <p></p>
          </div>
        <% end %>
        <% elsif event.is_a?(FollowUp) %>
            <%= link_to prescription_path(event) do %>
              <div class="follow-up-calendar">
                <%# <%= event.title.first %>
                  <p class="hourly-frequency"><%= event.hourly_frequency %></p>

              </div>
            <% end %>
        <% elsif event.is_a?(Measure) %>
            <%= link_to measures_path(event) do %>
              <div class="measure-calendar">
                <%# <%= event.title %>
                <p></p>
              </div>
            <% end %>
          <% elsif event.is_a?(Appointment) %>
            <%= link_to appointment_path(event) do %>
              <div class="appointment-calendar">
                <%# <%= event.title %>
                <p></p>
              </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <div class="legend-container">
      <p class="legend-title">Légende</p>
  <div class="colored-legend">
      <div class="left-side-legend">
        <div class="bullet-prescription">
          <div class = "prescription-calendar">
          </div>
          <p> Prescription</p>
        </div>

        <div class="bullet-follow-up">
            <div class = "follow-up-calendar">
            </div>
            <p> Traitement</p>
        </div>
      </div>

      <div class="right-side-legend">

        <div class="bullet-measures">
            <div class = "measure-calendar">
            </div>
            <p> Auto-relevé</p>
        </div>

        <div class="bullet-appointment">
          <div class = "appointment-calendar">
          </div>
          <p> Rendez-vous</p>
        </div>

      </div>
  </div>
</div>
 </div>
<p class= "calendar-button-container">
    <%= link_to "Ajouter un rdv", new_appointment_path, class: "calendar-button" %>
</p>
  <%# <p><%= link_to "Modifier un rdv", edit_appointment_path, class: "btn-bi"%>
</div>
