<div class="header">
  <div class= "header-title">
    <h1>Créer un RDV</h1>
  </div>
</div>
<div class="calendar">
<div class="background">
  <div class="bg-white rounded p-3 shadow">

    <%= simple_form_for @appointment do |f| %>
      <div>
      <%= f.input :title,  label: "Titre", placeholder: 'Titre', class: "black-label" %>
      </div>

      <div>
        <%= f.input :appointment_date, label: "Date", as: :date, html5: true %>
      </div>

       <div>
        <%= f.input :appointment_time, label: "Heure", as: :time %>
      </div>

       <div>
        <%= f.input :address, label: "Adresse", placeholder: 'Adresse'  %>
      </div>

       <div>
        <%= f.input :practician, label: "Practicien", placeholder: "Practicien "%>
      </div>


      <%= f.submit class: "bouton edit-style", value: "Créer" %>

    <% end %>
  </div>
</div>
</div>
