<div class="calendar">
<div class="background">
  <div class="bg-white rounded p-3 shadow">
    <h3>Creer un rendez-vous</h3>
    <%= simple_form_for [@user, @appointment], data: { controller: 'flatpickr' } do |f| %>
      <div>
      <%= f.input :title,  label: "Titre", placeholder: 'Titre' %>
      </div>

      <div>
        <%= f.input :appointment_date, label: "Date", as: :date %>
      </div>

       <div>
        <%= f.input :appointment_time, label: "Heure", as: :time %>
      </div>

       <div>
        <%= f.input :address, label: "Adresse", placeholder: 'Adresse'  %>
      </div>

       <div>
        <%= f.input :practician, label: "Praticien", placeholder: 'Practicien'  %>
      </div>

      <%= f.submit class: "btn-bi", value: "Creer" %>
    <% end %>
  </div>
</div>
</div>
