<div class="header">
  <div class= "header-title">
  <% if user_signed_in? %>
    <h1>Modifier un relevé </h1>
    <% end %>
  </div>
</div>
 <div class="edit-form">
    <div class="container form">
  <div class="bg-white rounded p-3 shadow">
    <%= simple_form_for @measure, data: { controller: 'flatpickr' } do |f| %>
    <div>
      <%= f.input :title, placeholder: 'Titre', value: 'Titre' %>
      <%= f.input :description, placeholder: 'Description', value: 'Description'%>
      <%= f.input :unit, placeholder: 'ex : ml', label: "Unité de mesure"%>
      </div>


      <div>
      <%= f.input :start_date, label: "début", as: :string, input_html: { data: { flatpickr_target: "startTime" } }, value: 'Commence le' %>
      <%= f.input :end_date, label: "au", as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' }, value: 'Fini le' %>
      </div>

      <div>
      <%= f.input :hourly_frequency, placeholder: 'Combien de fois par jour? ex: 4', value: "Nombre de fois par jour"%>
      <%= f.input :day_frequency, placeholder: 'Combien de fois par semaine? ex: 2', value: 'Nombre de fois par semaine'%>
      </div>
      <%# <%= f.input :photo_url, as: :file %>
      <%= f.submit class: 'bouton', value: "Modifier mon relevé"%>
    <% end %>
  </div>
</div>
</div>
