<div class="header">
  <div class= "header-title">
  <% if user_signed_in? %>
    <h1>Suivi des mesures</h1>
    <% end %>
  </div>
</div>
<div class = "container">

      <% @prescriptions.each do |prescription| %>
        <% prescription.measures.each do |measure| %>
          <%= link_to(prescription_measure_path(prescription, measure)) do %>
            <div class="measures">
              <div class="m-1 bouton d-flex justify-content-center">
                <strong><%= measure.title %></strong>
              </div>

              <p class = "text-left"><%= measure.start_date %></p>
            </div>

            <div class="measures">
              <%= line_chart measure.measurements_for_graph,
                xtitle: "Dates", ytitle: "Values",
                colors: ["#AAA1C8", "#666"]
                %>
            </div>
          <% end %>
        <% end %>
      <% end %>


</div>

<%# <h1 class = "m-3">Suivi des mesures</h1>
<div class="row">
  <% @prescriptions.each do |prescription| %>
    <%# <% prescription.measures.each do |measure| %>
      <%# <div class="col-6 mb-2 p-1"> %>
        <%# <div class="card"> %>
          <%# <div class="card-body"> %>
            <%# <p class="card-title"> %>
              <%# <strong><%= measure.title %>
            <%# </p> %>

            <%# <p class="card-text"> %>
              <%# <%= measure.description %>
            <%# </p> %>

            <%# <%= link_to "Détails", prescription_measure_path(prescription, measure), class: "btn btn-primary"%>
          <%# </div> %>
        <%# </div> %>
      <%# </div> %>
    <%# <% end %>
  <%# <% end %>
<%# </div> %>
