<div class="header">
  <div class= "header-title">
  <% if user_signed_in? %>
    <h1>Mes mesures</h1>
    <% end %>
  </div>
</div>
<div class="container">

<div class = "d-flex justify-content-between measure-header" >
  <h1><strong><%= @measure.title %></strong></h1>
  <p class =  "mt-1"><%= link_to "✏️", edit_measure_path(@measure), class: "mt-2" %></p>
</div>

    <div class="measure__description">
          <p><%= @measure.description %></p>
          <p class="measure-date-range"><strong><%= @measure.start_date.strftime("%d %b %Y") %> </strong>→<strong><%= @measure.end_date.strftime("%d %b %Y") %></strong></p>

          <p>
    </div>
      <div class="measures__values">
          <%= @measure.valeur %><strong><%= @measure.unit %></strong>.
        </p>
        <% if @measure.day_frequency != 1 %>
          <p><strong><%= @measure.day_frequency %></strong><strong><%= @measure.hourly_frequency %> fois</strong> par jour.</p>
        <% else %>
          <p><strong><%= @measure.hourly_frequency %> fois</strong> par jour.</p>
        <% end %>
      </div>


  <div class="container">
    <%= line_chart @measurements,
      xtitle: "Dates", ytitle: "Values",
      colors: ["#AAA1C8", "#666"]
      %>
  </div>



    <%= link_to(prescription_path(@prescription)) do %>
      <div class = "d-flex justify-content-center">
        <div class ="m-1 bouton justify-content-center">
          <i class="fa-sharp fa-solid fa-arrow-left" style="color: #49516F;"></i>
        </div>
      </div>
    <% end %>


<div class ="m-3 d-flex align-items-center justify-content-between">
    <h2 class = "mt-2 pt-2">Mes mesures</h2>
    <%= link_to " + ", new_prescription_measure_measurement_path(@prescription, @measure), class: "plus" %>
  </div>
  <div class="list-groupd">
    <ul>
      <% @measure.measurements.each do |measurement| %>
        <li class = "list-group-itemd passed p-2" >
          <div class="measures-created_atd">
              <p class= "measures-dated">
                <%= measurement.created_at.strftime("%d %b %Y") %>
              </p>
              <p class= "measures-timed">
                <%= measurement.created_at.strftime("%H:%M") %>
              </p>
          </div>

          <div class = "measures-countd">
            <h4 class = ""><%= measurement.value %> <%= measurement.measure.unit %></h4>
            <%= link_to "✏️", edit_prescription_measure_measurement_path(@prescription, @measure, measurement), class: ""  %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
