<div class="container">
<h1>Measures#show</h1>
<p>Find me in app/views/measures/show.html.erb</p>

<h1><%= @measure.title %></h1>
<p><%= @measure.description %></p>
<p><%= @measure.valeur %><%= @measure.unit %></p>
<p>Debut <%= @measure.start_date %> fin :<%= @measure.end_date %></p>
<p>Tous les <%= @measure.day_frequency %> jour(s)</p>
<p><%= @measure.hourly_frequency %> fois par jour</p>
</div>


<%# on a acces au info de la prescription %>
