<div class="container">
<h1>Measures#show</h1>
<p>Find me in app/views/measures/show.html.erb</p>

<h1><%= @measure.title %></h1>
<p><%= @measure.description %></p>
<p><%= @measure.valeur %><%= @measure.unit %></p>
<p>Debut <%= @measure.start_date %> fin :<%= @measure.end_date %></p>
<p>Tous les <%= @measure.day_frequency %> jour(s)</p>
<p><%= @measure.hourly_frequency %> fois par jour</p>
</div>

<h4>Mes prises de mesures</h4>

<% @measure.measurements.each do |measurement| %>
<p><%= measurement.created_at %></p>
<h6><%= measurement.value %> <%= measurement.unit %></h6>
<% end %>


<%= link_to "", new_prescription_measure_measurement_path(@prescription, @measure), class: "fa-solid fa-plus", style: "color: #57973f"  %>
